body {
  margin: 0;

}

header {

}
header h1{
  display: inline-block;
  width: 75%;
  text-align: left;
  padding: 5px 15px 5px 15px;
  font-size: 1.5em;
}
header nav{

}
header nav p{
  display: inline;
  text-align: right;
  padding: 15px;
  margin: 10px;
  font: .9em 'PT Sans', sans-serif;
  line-height: 0;
}

h1{
  font: Bold 1.875em 'PT Sans Narrow', sans-serif;
  color: #323232;
  text-align: center;
  padding-bottom: 25px;
}

h2{
  font: Bold 1.5em 'PT Sans Narrow', sans-serif;
  color: #00897f;
  text-transform: uppercase;
}

h3{
  font: 1em 'PT Serif', serif;
  line-height: 2em;
  text-align: center;
}

p{
  font: .875em 'PT Serif', serif;
  color: #323232;
  line-height: 1.75em;
  padding: 0 30px 30px 30px;
  text-align: left;
}

.batcatimg {
  width: 100%;
  height: auto;
}

.batcatimg.mobile {
   display: none;
}

.basicinfo{
  width: 50%;
  margin: auto;
  margin-bottom: 80px;
}

.basicinfo h3{
  text-align: left;
  margin: 0;
}

.aboutbox{
  text-align: center;
  padding-bottom: 80px;
}

.aboutbox h2{
  margin-bottom: 25px;
}

.aboutbox div{
  width:  300px;
  display: inline-block;
  background-color: #eeeeee;
  margin: 0 30px;
}


.kittyimg{
  display: inline;
  text-align: center;
}

.roundkitty img{
  border-radius: 50%;
  padding: 27.5px 27.5px;
}

.info{
  background-color: #eeeeee;
  text-align: center;
}

.info h1{
  padding-top: 80px;
  margin-top: 80px;
  margin-bottom: 20;
}

.info div{
  padding-bottom: 80px;
}


.infobox div{
  width: 250px;
  display: inline-block;
  background-color: white;
  padding: 30px;
  margin: 0 30px 0 30px;
}

.infobox h2{
  margin: 0;
}

.infobox h3{
  text-align: left;
}

.hours h3 span{
  text-transform: capitalize;
}

.contact h3 span{
  text-transform: capitalize;
}

.contact h3 span .red {
  color:red;
}

.mapimg{
  width: 100%;
  height: auto;
}

footer{
  background-color: #00897f;
}

footer h1{
  font-size: 1.5em;
  color: white;
  margin: 0;
  padding: 47px 47px;
}

.text-align-left {
  text-align: left;
}
.text-align-right {
  text-align: right;
}

/* On devices less than 600px */
@media (max-width: 600px){
    nav p{
      display: none;
    }
    nav h1{
      text-align: center;
      width: 100%;
    }
    header h1 {
      text-align: center;
      width: 100%;
    }
    .cat-1{
      display: none;
    }
    .cat-2{
      display: none;
    }
    .aboutbox {
      background-color: #eeeeee;
    }

    .batcatimg.mobile {
      display: block;
      text-align: center;
      position: relative;
    }

    .batcatimg.mobile img {
       width: 100%;
    }

    .float-cat {
      z-index: 10;
      position: absolute;
      max-height: 400px;
      max-width: 250px;
      margin: 0 30%;
      bottom: 0;
    }

    .hero-text {
      z-index: 5;
      width: 300px;
      margin: 0 25%;
      text-transform: uppercase;
      color: white;
      position: absolute;
      top: 23%;
    }

    .hero-text h3 {
      margin: 0;
      font: Bold 1em 'PT Sans Narrow', sans-serif;
      font-size: 20px;
      line-height: 1em;
    }

    .hero-text h1 {
      font-size: 50px;
      color: white;
      margin: 0;
      padding: 0;
    }

    .batcatimg.desktop {
      display: none;
    }
}

/* On devices wider than 660px */
@media(min-width: 750px) {
}

/* On devices wider than 940px */
@media(min-width: 940px) {
}
