body {
  margin: 0;

}

nav{

}

h1{
  font: Bold 1.875em 'PT Sans Narrow', sans-serif;
  color: #323232;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 45px;
}

h2{
  font: Bold 1.5em 'PT Sans Narrow', sans-serif;
  color: #00897f;
}

h3{
  font: 1em 'PT Serif', serif;
  line-height: 2em;
  text-align: center;
}

nav h1{
  display: inline-block;
  width: 75%;
  text-align: left;
  margin: 25px 15px 25px 15px;
  font-size: 1.5em;
}

p{
  font: .875em 'PT Serif', serif;
  color: #323232;
  line-height: 1.75em;
  padding: 0 30px 30px 30px;
  text-align: left;
}

nav p{
  display: inline;
  text-align: right;
  padding: 15px;
  margin: 10px;
  font: .9em 'PT Sans', sans-serif;
  line-height: 0;
}

.batcatimg{
  width: 100%;
  height: auto;
}

.basicinfo{
  width: 50%;
  margin: auto;
  margin-bottom: 80px;
}

.aboutbox{
  text-align: center;
}

.aboutbox h2{
  margin-bottom: 25px;
}

.aboutbox div{
  width:  300px;
  display: inline-block;
  background-color: #eeeeee;
  margin: 0 30px;
}

.bussinfo{
  background-color: #eeeeee;
}

.infobox{
  text-align: center;
}


/* On devices wider than 660px */
@media(min-width: 660px) {
}

/* On devices wider than 940px */
@media(min-width: 940px) {
}
