body {
  margin: 0;
}

h1{
  font: Bold 1.875em 'PT Sans Narrow', sans-serif;
  color: #323232;
}

nav h1{
  display: inline-block;
  width: 75%;
  margin-left: 15px;
  font-size: 1.5em;
}

p{
  font: .875em 'PT Serif', serif;
  color: #323232;
}

nav p{
  display: inline;
  text-align: right;
  padding: 15px;
  font: .9em 'PT Sans', sans-serif;
}


/* On devices wider than 660px */
@media(min-width: 660px) {
}

/* On devices wider than 940px */
@media(min-width: 940px) {
}
